---
import logo from "../assets/favicon.ico";
import Navbar from "./Navbar.astro";

import instagram from "../assets/instagram.png";
import twitter from "../assets/twitter.png";
import youtube from "../assets/youtube.png";

export interface Props {
  template?: string;
  title?: string;
}

let { template = "Fluttermapp", title = "" } = Astro.props;
if (title && title.includes("%s") && template)
  title = title.replace("%s", template);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href={logo} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <slot name="head" />
  </head>
  <body class="bg-blue-50/10">
    <Navbar />
    <slot />
    <footer class="p-4 bg-gray-100">
      <div class="flex items-center justify-center gap-6 my-2">
        <a
          class="w-12 h-12 p-2 bg-gray-200 hover:bg-gray-300 focus:ring outline-none rounded-full transition-all"
          href="https://twitter.com/Fluttermapp"
          target="_blank"
        >
          <img src={twitter.src} alt="Twitter" />
        </a>
        <a
          class="w-12 h-12 p-3 bg-gray-200 hover:bg-gray-300 focus:ring outline-none rounded-full transition-all"
          href="https://www.instagram.com/fluttermapp/"
          target="_blank"
        >
          <img src={instagram.src} alt="Instagram" />
        </a>
        <a
          class="w-12 h-12 p-2 bg-gray-200 hover:bg-gray-300 focus:ring outline-none rounded-full transition-all"
          href="https://www.youtube.com/@FlutterMapp"
          target="_blank"
        >
          <img src={youtube.src} alt="YouTube" />
        </a>
      </div>
      <p class="text-center font-medium">
        ©️ 2023 <a href="https://fluttermapp.com">Fluttermapp</a>
      </p>
      <p class="text-center mt-2 text-gray-600">
        Made with ❤️ by
        <a
          target="_blank"
          href="https://twitter.com/Fluttermapp"
          class="text-blue-600">Fluttermapp</a
        >
        and
        <a
          target="_blank"
          href="https://twitter.com/shreyassanthu77"
          class="text-blue-600">Shreyas</a
        >
        using
        <a target="_blank" href="https://astro.build" class="text-orange-500">
          Astro
        </a>
      </p>
    </footer>
  </body>
</html>

<style>
  * {
    -webkit-tap-highlight-color: transparent;
  }
</style>
